---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import "../styles/animations.css";
import "../styles/top.css";
import "the-new-css-reset";

import img01 from "../../public/image/img01_01.png"
---

<Layout>
	<section class="section01">
		<!-- <div class="animation01">
			<span class="circle color1">color1</span>
			<span class="circle color2">color2</span>
			<span class="circle color3">color3</span>
			<span class="circle color4">color4</span>
		</div> -->
		<ul>
			<li class="title">title<br>titletitletitle<br>title</li>
			<li class="mv_pic"><img src={img01.src} alt=""></li>
		</ul>
	</section>

	<section class="section02">
		<ul>
			<li class="title">
				<div class="wrapper">
					<h1 class="hero-title">title</h1>
				</div>
			</li>
			<li class="mv_pic"><img src={img01.src} alt=""></li>
		</ul>
	</section>

	<section class="section03">
		<ul>
			<li class="title">
				<div class="drive-brake delay1">DRIVE</div>
				<div class="drive-brake delay2">DRIVEDRIVE</div>
				<div class="drive-brake delay3">DRIVE</div>
			</li>
		</ul>
	</section>

	<section class="section04 infinite-slider">
		<div class="slider-track">
			<img src={img01.src} alt="">
			<img src={img01.src} alt="">
			<img src={img01.src} alt="">
			<img src={img01.src} alt="">
			<img src={img01.src} alt="">
			<img src={img01.src} alt="">
			<img src={img01.src} alt="">
			<img src={img01.src} alt="">
		</div>
	</section>
</Layout>
	
